body {
  background-color: black;
  color: #00FF00;
  font-family: 'Coda', cursive;
}

a{
	text-decoration: none;
	color: inherit;
}

.links
{
  margin-left:27.5%;
  font-size:calc(2vw + 2vh);
  width:100%;
}
.hyper
{
  margin-left:2%;
  text-align:center;
}

h1.header {
  color: #00FF00;
  text-align: center;
  font-size: calc(1.5vw + 1.5vh);
}
h2.header {
  color: grey;
  text-align: center;
  font-size: calc(1.5vw + 1.5vh);
}
.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:40%;
}

a.game-desc {
  color: inherit;
}

@media only screen and (max-width: 799px) {
img.icon{
  border-style: solid solid solid none;
  
}
img.icon::after {
  content: "";
  clear: both;
  display: table;
}
}